*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}
#container{
    position: absolute;
    left: 40%;
    top: 30%;
    border: 5px solid red;
    width: 500px;
}

.left{
    position: absolute;
    left: 40%;
    top: 70%;
    width: 0;
	height:0;
	border-top: 25px solid transparent;
	border-right: 50px solid #555;
	border-bottom: 25px solid transparent;
    
}

.left:hover{
    cursor: pointer;
    border-top: 25px solid transparent;
	border-right: 50px solid antiquewhite;
	border-bottom: 25px solid transparent;
}

.right{
    position: absolute;
    left: 63%;
    top: 70%;
    width: 0;
	height:0;
	border-top: 25px solid transparent;
	border-left: 50px solid #555;
	border-bottom: 25px solid transparent;
    
}

.right:hover{
    cursor: pointer;
    border-top: 25px solid transparent;
	border-left: 50px solid antiquewhite;
	border-bottom: 25px solid transparent;
}
